server:
  port: 8001

management:
  endpoints:
    web:
      exposure:
        include: "refresh,busrefresh,health,info"

spring:
  profiles:
    include:
      - rabbit

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: true
    registry-fetch-interval-seconds: 5

  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10